{% extends 'base.html' %}
{% load static %}

{% block title %}
 My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
<!--<h1>Welcome to my blog</h1>-->
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/me.jpg' %}" alt="Author of this blog">
            <h2> Andrii's Blog</h2>
        </header>
        <p>Hi, I am Andrii and I love to blog about tech and the world</p>
    </section>

    <section id="latest-posts">
        <h2>
            My Latest Thoughts
        </h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html'%}
            {% endfor%}
        </ul>
    </section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming, and I enjoy exploring new technologies!</p>
    <p>My goal is to keep growing as a developer.</p>

</section>

{% endblock %}